<div>
    <div class="back-button-wrapper">
        <button mat-button uiBackButton>
            <fa-icon icon="chevron-left"></fa-icon>
            &nbsp;
            back
        </button>
    </div>
    <blockquote>
        Short link everyday!
    </blockquote>
</div>
