<ng-container [ngSwitch]="shortLinkContent.type">
    <app-text-content *ngSwitchCase="linkTypes.TEXT" [textData]="shortLinkContent"></app-text-content>
    <div *ngSwitchDefault> short link type error </div>
</ng-container>
