<div class="page-wrapper">
    <div class="page-content">
        <div class="message-404">
            Unexpected error
        </div>
        <img src="/assets/cat_worker.jpg" alt="cat with wrench"/>
        <div class="description">
            An unexpected error has occurred. You can try to reload this page or go to home.
        </div>
        <div class="actions">
            <button mat-flat-button color="primary" (click)="reloadPage()">Reload page</button>
            <a mat-flat-button routerLink="/">Go home</a>
        </div>
    </div>
</div>

