@import "../../../styles/variables";

.page-wrapper {
    width: 100%;
    min-height: 100%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: repeat;

    @media @mobile {
        align-items: normal;
        background-image: none !important;
    }
}

.centered-page {
    margin: 100px 40px;
    width: 0;
    flex-grow: 1;
    padding: 16px;
    border-radius: 9px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px -6px #000000;
    transition: max-width 0.8s ease-out;
    position: relative;

    @media @mobile {
        margin: 44px 0 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 12px;
    }

    &-small {
        max-width: 600px;
    }

    &-medium {
        max-width: 750px;
    }

    &-large {
        max-width: 900px;
    }

    &-footer {
        margin-top: 14px;
        text-align: right;
        font-size: 12px;
        color: @color-gray-text;

        a {
            color: @color-gray-text;
        }

        @media @mobile {
            margin-top: 10px;
        }
    }
}
