<ui-logo></ui-logo>
<div class="page-wrapper" [style.background-image]="'url(\'/assets/backgrounds/' + backgroundImageIndex + '.png\')'">
    <div class="centered-page" [class]="pageSizeClass">
        <router-outlet></router-outlet>
        <div class="centered-page-footer">
            <a routerLink="/about">about</a> | {{ currentYear }}
        </div>
    </div>
</div>

