@link-color: #939393;
@link-hover-color: #6f6f6f;
@selected-link-color: #1d1d1d;
@selected-link-background-color: #e4e4e4;

.link-bar {
    display: inline-flex;
    margin: 0 -2px;
    font-size: 16px;

    > div {
        margin: 0 2px;
        border-radius: 4px;

        &.active {
            background-color: @selected-link-background-color;

            > a, > a:hover {
                color: @selected-link-color;
            }
        }

        > a {
            user-select: none;
            display: block;
            padding: 8px 16px;
            text-decoration: none;
            color: @link-color;

            &:hover {
                color: @link-hover-color;
            }
        }
    }
}
