@import "../../../styles/variables";

@border-color: rgba(0, 0, 0, 0.12);
@color-selected: @color-action;

.inline-selector {
    display: inline-flex;
    border: 1px solid @border-color;
    border-radius: 4px;
    user-select: none;

    .item {
        padding: 0.3em 0.5em;
        cursor: pointer;

        &.active {
            color: @color-selected;
            text-shadow: @color-selected 1px 0 32px;
        }
    }

    .divider {
        width: 1px;
        margin: 0.3em 0;
        background-color: @border-color;
    }
}
