<div class="inline-selector">
    <ng-container *ngFor="let item of itemList; let isLastItem = last">
        <div
                [class.active]="item.key === value"
                class="item"
                matRipple
                (click)="setSelected(item.key)"
        >{{ item.value }}</div>
        <div *ngIf="!isLastItem" class="divider"></div>
    </ng-container>
</div>
