<div class="page-content">
    <ui-link-bar>
        <ui-link-bar-item link="/shorten/link" label="link"></ui-link-bar-item>
        <ui-link-bar-item link="/shorten/text" label="text"></ui-link-bar-item>
    </ui-link-bar>

    <router-outlet></router-outlet>

    <app-short-link-list></app-short-link-list>
</div>
