<div *ngIf="(shortLinkListSource | async)?.length > 0" class="divider" @disappear></div>
<div class="link-list">
    <ng-container *ngFor="let shortLinkItem of (shortLinkListSource | async)">
        <app-short-link-list-item [shortLink]="shortLinkItem" @deletion></app-short-link-list-item>
    </ng-container>
</div>

