@import "../../../styles/variables";

.logo {
    position: absolute;
    top: 8px;
    left: 8px;
    display: inline-flex;
    align-items: center;
    opacity: 0.6;
    transition: opacity 0.15s linear;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 0px 10px -6px #000000;

    @media @mobile {
        top: 0;
        left: 0;
        background: none;
        box-shadow: none;
    }

    &:hover {
        opacity: 1;
    }

    &-img {
        height: 24px;
        width: 24px;
        background-image: url('/assets/logo_64.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &-title {
        margin-left: 12px;
        font-size: 16px;
    }

    > a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
