@import "../../../../styles/variables";

:host {
    display: block;
    margin: 0 -16px;
    padding: 0 16px;

    @media @mobile {
        margin: 0 -12px;
        padding: 0 12px;
    }
}

.short-link-item {
    height: 20px;
    min-width: 0;
    display: flex;
    padding: 4px 0;

    @media @mobile {
        height: 40px;
    }

    > * {
        margin: 0 6px;

        @media @mobile {
            margin: 0 4px;
        }
    }

    &-qr {
        cursor: zoom-in;
        position: relative;

        &:hover {
            ui-qr-code {
                display: block;

                @media @mobile {
                    display: none;
                }
            }
        }

        ui-qr-code {
            background-color: #ffffff;
            padding: 20px;
            display: none;
            position: absolute;
            left: -220px;
            top: -85px;
            z-index: 10;
            box-shadow: 0px 0px 10px -6px #000000;

            &:before {
                height: 20px;
                width: 40px;
                content: ' ';
                position: absolute;
                right: -40px;
                top: calc(50% - 10px);
            }
        }
    }

    &-data {
        margin: 0 -6px;
        min-width: 0;
        flex-grow: 1;
        display: flex;

        @media @mobile {
            margin: 0 -4px;
            flex-direction: column;
        }

        > * {
            margin: 0 6px;

            @media @mobile {
                margin: 0 4px;
            }
        }

        &-code {
            white-space: nowrap;
            min-width: 0;
            display: flex;

            a {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            fa-icon {
                cursor: pointer;
                margin-left: 4px;

                &:hover {
                    color: @color-action;
                }
            }
        }

        &-preview {
            min-width: 250px;
            width: 0;
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media @mobile {
                min-width: auto;
                width: auto;
            }
        }
    }

    &-delete {
        cursor: pointer;

        &:hover {
            color: @color-warning;
        }
    }
}
