<div class="short-link-item">
    <div class="short-link-item-qr" (click)="showQrDialog()" (mouseenter)="checkQrPosition()">
        <ui-qr-code [link]="shortLink.shortLink" [ngStyle]="{ 'left.px': qrLeftPosition }"></ui-qr-code>
        <fa-icon icon="qrcode"></fa-icon>
    </div>
    <div class="short-link-item-data">
        <div class="short-link-item-data-code">
            <a [routerLink]="'/' + shortLink.code">{{ shortLink.shortLink }}</a>
            <fa-icon [icon]="['far', 'clipboard']" (click)="copyLink()"></fa-icon>
        </div>
        <ng-container [ngSwitch]="shortLink.preview.type">
            <ng-container *ngSwitchCase="linkTypes.LINK">
                <div class="short-link-item-data-preview" [title]="shortLink.preview.link">
                    {{ shortLink.preview.link }}
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="linkTypes.TEXT">
                <div class="short-link-item-data-preview" [title]="shortLink.preview.text">
                    {{ shortLink.preview.text }}
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div class="short-link-item-view-counter"></div>
    <div class="short-link-item-delete" (click)="deleteLink()"><fa-icon icon="trash-alt"></fa-icon></div>
</div>
