@import "../../../styles/variables";
@import "../../../styles/utils";

.shorten-link-result {
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;

    &-header {
        font-size: 24px;
        margin-bottom: 20px;
    }

    &-link {
        font-size: 20px;
        margin-bottom: 24px;
    }

    &-copy {
        margin-bottom: 24px;
        font-size: 20px;
        color: @color-text;
        animation: blink 2s linear 0.5s;

        .keyframes(blink, {
            35% {
                color: @color-warning;
            }
            70% {
                color: @color-warning;
            }
        });

        button {
            font-size: 16px;
        }
    }

}
