<div class="shorten-link-result">
    <div class="shorten-link-result-header">
        Your short link:
    </div>
    <div class="shorten-link-result-link">
        <a [routerLink]="'/' + linkInfo.code">{{ linkInfo.link }}</a>
    </div>
    <div *ngIf="copySuccessful else copyButton" class="shorten-link-result-copy">
        Copied to clipboard
    </div>
    <ng-template #copyButton>
        <div class="shorten-link-result-copy">
            <button mat-button color="primary" (click)="copyLink()">Copy</button>
        </div>
    </ng-template>
    <div class="shorten-link-result-qr">
        <ui-qr-code [link]="linkInfo.link" size="250"></ui-qr-code>
    </div>
</div>
