<form (submit)="submitForm()" [formGroup]="form">
    <div *ngIf="shortCodeFieldVisibility else shortCodeButtonBlock;" class="field-group">
        <mat-form-field appearance="outline" floatLabel="never" class="short-link-field">
            <input matInput
                   formControlName="code"
                   placeholder="code"
                   autocomplete="off"
                   maxlength="64"/>
            <div matPrefix>
                <div>{{ shortLinkUrl }}/</div>
            </div>
            <mat-error>{{ getErrorMessage('code') }}</mat-error>
        </mat-form-field>
    </div>
    <ng-template #shortCodeButtonBlock>
        <div class="field-group">
            <div class="short-link-display-button" (click)="onShortLinkDisplayClick()">Wanna choose short code on your own? Just click me</div>
        </div>
    </ng-template>
    <div class="field-group field-group-link">
        <mat-form-field appearance="outline">
            <mat-label>Link</mat-label>
            <input matInput formControlName="link" autocomplete="off">
            <mat-error>{{ getErrorMessage('link') }}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">short it!</button>
    </div>
</form>
