@import "../../../styles/variables";

.field-group {

    &.field-group-link {
        display: flex;

        mat-form-field {
            flex-grow: 1;
            width: auto;
        }

        > button {
            margin: 4px 0 0 12px;
            padding: 0 24px;
            height: 51px;
            font-size: 16px;

            @media @mobile {
                margin: 12px 0 0;
            }
        }

        @media @mobile {
            flex-direction: column;
        }
    }

    .short-link-display-button {
        font-size: 12px;
        color: #686868;
        cursor: pointer;
        user-select: none;

        &:hover {
            color: #000000;
        }
    }

    mat-form-field {
        width: 100%;
    }

    .short-link-field {
        &::ng-deep {
            .mat-form-field-infix {
                margin-top: -8px;
            }

            .mat-form-field-prefix {
                top: 0;
            }
        }
    }
}
