@import "variables";

html, body {
    height: 100%;
    min-width: 320px;
}

body {
    margin: 0;
    color: @color-text;
    font-size: 14px;

    @media @mobile {
        font-size: 14px;
    }
}

a {
    text-decoration: none;
    color: @color-link;
}

.field-group {
    margin: 16px 0;
}

.snack-bar-white {
    background-color: #fbfbfbf2;
    color: @color-text;

    button {
        color: @color-action;
    }
}
