@mobile: ~"all and (max-width: 575px)";
@tablet: ~"all and (max-width: 1024px)";

@color-text: #060606;
@color-gray-text: #848484;
@color-link: #0066ff;
@color-warning: #e84141;
@color-action: #673ab7;
