<form (submit)="submitForm()" [formGroup]="form">
    <div *ngIf="shortCodeFieldVisibility else shortCodeButtonBlock;" class="field-group">
        <mat-form-field appearance="outline" floatLabel="never" class="short-link-field">
            <input matInput
                   formControlName="code"
                   placeholder="code"
                   autocomplete="off"
                   maxlength="64"/>
            <div matPrefix>
                <div>{{ shortLinkUrl }}/</div>
            </div>
            <mat-error>{{ getErrorMessage('code') }}</mat-error>
        </mat-form-field>
    </div>
    <ng-template #shortCodeButtonBlock>
        <div class="field-group">
            <div class="short-link-display-button" (click)="onShortLinkDisplayClick()">
                Wanna choose short code on your own? Just click me
            </div>
        </div>
    </ng-template>
    <div class="field-group field-group-text">
        <mat-form-field appearance="outline">
            <mat-label>Text</mat-label>
            <textarea matInput formControlName="text" rows="7" autocomplete="off"></textarea>
            <mat-error>{{ getErrorMessage('text') }}</mat-error>
            <mat-hint>
                <ui-inline-selector
                        class="text-type-selector"
                        formControlName="textType"
                        [itemList]="textTypeList"
                ></ui-inline-selector>
            </mat-hint>
            <mat-hint *ngIf="isMarkdownTextTypeSelected" align="end">
                <ui-inline-button (click)="markdownPreview()">preview</ui-inline-button>
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="field-group field-group-page-size">
        <label>Desktop page size:</label>
        <ui-inline-selector
                formControlName="pageSize"
                [itemList]="pageSizeList"
        ></ui-inline-selector>
    </div>
    <div class="field-group">
        <button mat-raised-button type="submit" color="primary">Short it!</button>
    </div>
</form>
