.field-group {

    & > * {
        display: block;
    }

    &-text {
        margin-bottom: 24px;

        mat-hint {
            ui-inline-button {
                font-size: 12px;
            }
        }
    }

    &-page-size {
        label {
            margin-bottom: 8px;
        }
    }

    mat-form-field {
        width: 100%;
    }

    button[type="submit"] {
        font-size: 16px;
        font-weight: normal;
    }

    .short-link-display-button {
        font-size: 12px;
        color: #686868;
        cursor: pointer;
        user-select: none;

        &:hover {
            color: #000000;
        }
    }

    .short-link-field {
        &::ng-deep {
            .mat-form-field-infix {
                margin-top: -8px;
            }

            .mat-form-field-prefix {
                top: 0;
            }
        }
    }

    .text-type-selector {
        font-size: 12px;
    }
}
