@import "../../../styles/variables";

.page-wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: repeat;

    @media @mobile {
        align-items: normal;
    }
}

.page-content {
    margin: 50px 40px;
    width: 100%;
    padding: 16px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @media @mobile {
        margin: 20px 0 0;
        padding: 12px;
    }

    > * {
        margin: 24px 0;

        @media @mobile {
            margin: 10px 0;
        }
    }

    .message-404 {
        font-size: 62px;

        @media @tablet {
            font-size: 54px;
        }

        @media @mobile {
            font-size: 36px;
        }
    }

    .description {
        line-height: 1;
        font-size: 32px;

        @media @tablet {
            font-size: 24px;
        }

        @media @mobile {
            font-size: 16px;
        }
    }

    > img {
        max-width: 100%;
    }
}
