<div class="page-wrapper">
    <div class="page-content">
        <div class="message-404">
            404
        </div>
        <img src="/assets/cat_sad.jpg" alt="very sad cat :("/>
        <div class="description">
            Looks like there are no page you are looking for
        </div>
        <div class="action">
            <a mat-flat-button color="primary" routerLink="/">Go home</a>
        </div>
    </div>
</div>

