<ng-container [ngSwitch]="textData.textType">
    <div *ngSwitchCase="textTypes.SIMPLE_TEXT" class="simple-text">
        {{ text }}
    </div>
    <div *ngSwitchCase="textTypes.MARKDOWN" [innerHTML]="text | sanitizeHtml" class="markdown"></div>
</ng-container>
