<div>
    <div class="back-button-wrapper">
        <button mat-button uiBackButton>
            <fa-icon icon="chevron-left"></fa-icon>
            &nbsp;
            back
        </button>
    </div>
    <app-shorten-link-info [linkInfo]="linkInfoSource | async"></app-shorten-link-info>
</div>
